<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSCameraUsageDescription</key>
	<string>Testinng</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Testinng</string>
    <key>NSMotionUsageDescription</key>
    <string>We use motion tracking to anchor AR objects in the world.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to add it to your post.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photos to let you select images for your story.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need access to save your story to your photos.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
